/*html frame*/

html,
body {
    position: relative;
    height: 100%;
}

.page_layout {
    position: relative;
    height: 100%;
    display: flex;
    & .layout_content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

.content_inner_width {
    width: var(--contentWidth);
    margin: 0 auto;
}


/*header*/

.page_header {
    height: 100px;
    border-bottom: 1px solid #EAEAEA;
    position: relative;
    background-color: #FAFAFA;
    width: 100%;
    z-index: 2;
    @nest .fixed_header & {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
}

.page_header .page_header_inner {
    height: 100%;
}

.layout_header_logo {
    width: 167px;
    height: 90px;
    background-color: #fff;
    float: left;
    margin-top: 5px;
    box-shadow: 7px 0 7px -7px rgba(0, 0, 0, 0.3), -7px 0 7px -7px rgba(0, 0, 0, 0.3);
}

.layout_header_list {
    position: relative;
    float: left;
    margin-left: 85px;
    height: 100%;
    display: flex;
    & .layout_header_item {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        color: var(--commonFontColor1);
        margin-right: 70px;
        & .inner_content {
            padding: 0 12px;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
        & .bottom_line {
            width: 100%;
            height: 4px;
            background-color: var(--mainColor);
            opacity: 0;
            transform: scaleX(0);
            transition: all linear 0.3s;
        }
        &:hover .bottom_line,
        &.active .bottom_line {
            transform: scaleX(1);
            opacity: 1;
        }
    }
}

.accout_login_box {
    float: right;
    position: relative;
    height: 100%;
    & .login_success {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        & span {
            color: var(--commonFontColor1);
        }
        & i {
            color: var(--mainColor);
            font-size: 30px;
        }
    }
}


/*page_body*/

.page_body {
    position: relative;
    flex-grow: 1;
    @nest .fixed_header & {
        margin-top: 100px;
    }
}


/*page_footer*/

.page_footer {
    position: relative;
    height: 300px;
    background-color: #E8E8E8;
    color: var(--commonFontColor2);
    font-size: 13px;
    & .page_footer_inner {
        height: 100%;
        padding-top: 40px;
        padding-left: 50px;
        /*left*/
        & .left {
            width: 620px;
            float: left;
            & .p1 {
                margin-bottom: 40px;
                & a {
                    color: var(--commonFontColor);
                    font-size: 16px;
                    margin-right: 70px;
                }
            }
            & .p2 {
                margin-bottom: 40px;
                & a {
                    color: var(--commonFontColor);
                    font-size: 16px;
                }
            }
            & .p3 {
                & a {
                    color: var(--commonFontColor2);
                    margin-right: 15px;
                    margin-bottom: 25px;
                    display: inline-block;
                    &:nth-child(1) {
                        color: var(--mainColor);
                    }
                }
            }
        }

        /*right*/
        & .right {
            float: right;
            display: flex;
            & div {
                margin-left: 100px;
            }
            & p {
                text-align: center;
                font-size: 16px;
                color: var(--mainColor);
                margin-top: 10px;
            }
        }
    }
}
